## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

The Scenario

The company you work for is interested in purchasing and operating airplanes for commercial and private enterprises, but know nothing about the potential risks of aircraft.
You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor.

The Data

aviation accident data from 1962 to 2023 about civil aviation accidents 
up to you to decide:
-> what data to use
-> how to deal with missing values
-> how to aggregate (ie. sum, mean, median, count, max..) the data
-> how to visualize it in an interactive dashboard

The Expectation

make 3 recommendations for how the business should move forward
insights to help the head of the new aviation division decide which aircraft to purchase

You should make:

A non-technical presentation (ie. slides)
A Jupyter Notebook
A GitHub repository
An Interactive Dashboard (ie. tableau)

In [143]:
import pandas as pd

In [144]:
aviation_df = pd.read_csv('Aviation_Data.csv')
aviation_df

c:\Users\User\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

some eda

In [145]:
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [146]:
aviation_df['Number.of.Engines'].value_counts()

1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

In [147]:
aviation_df.iloc[0:10, [14,15,23,24,25,27]]

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Weather.Condition
0,Stinson,108-3,2.0,0.0,0.0,UNK
1,Piper,PA24-180,4.0,0.0,0.0,UNK
2,Cessna,172M,3.0,NaN,NaN,IMC
3,Rockwell,112,2.0,0.0,0.0,IMC
4,Cessna,501,1.0,2.0,NaN,VMC
5,Mcdonnell Douglas,DC9,NaN,NaN,1.0,VMC
6,Cessna,180,4.0,0.0,0.0,IMC
7,Cessna,140,0.0,0.0,0.0,VMC
8,Cessna,401B,0.0,0.0,0.0,IMC
9,North American,NAVION L-17B,0.0,0.0,3.0,IMC

In [148]:
aviation_df['Aircraft.damage'].value_counts()['Destroyed']

18623

In [149]:
aviation_df['Total.Fatal.Injuries'].isnull().sum()

12860

will impute injury/fatality NaNs with 0

In [150]:
aviation_df['Total.Fatal.Injuries'] = aviation_df['Total.Fatal.Injuries'].fillna(0)
aviation_df['Total.Serious.Injuries'] = aviation_df['Total.Fatal.Injuries'].fillna(0)
aviation_df['Total.Minor.Injuries'] = aviation_df['Total.Minor.Injuries'].fillna(0)
aviation_df['Total.Uninjured'] = aviation_df['Total.Uninjured'].fillna(0)

now confirming the clean

In [151]:
aviation_df['Total.Fatal.Injuries'].isnull().sum()

0

In [152]:
aviation_df['Total.Serious.Injuries'].isnull().sum()

0

In [153]:
aviation_df['Total.Minor.Injuries'].isnull().sum()

0

In [154]:
aviation_df['Total.Uninjured'].isnull().sum()

0

attempting to define a 'severity index' column. giving different 'weight' to death vs serious injury vs minor injury

In [155]:
aviation_df['Severity.Index'] = (
    aviation_df['Total.Fatal.Injuries'] * 5 + 
    aviation_df['Total.Serious.Injuries'] * 3 + 
    aviation_df['Total.Minor.Injuries'] * 1
)

In [156]:
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'Severity.Index'],
      dtype='object')

creating 6 new dfs

In [157]:
avg_severity = aviation_df.groupby(['Make', 'Model'])['Severity.Index'].mean().sort_values(ascending=False)
avg_severity_df = avg_severity.reset_index(name='Avg.Severity')


acc_count = aviation_df.groupby(['Make', 'Model']).size().sort_values(ascending=False)
acc_count_df = acc_count.reset_index(name='Accident.Count')


avg_craft_deaths = aviation_df.groupby(['Make','Model'])['Total.Fatal.Injuries'].mean().sort_values(ascending=False)
avg_craft_deaths_df = avg_craft_deaths.reset_index(name='Avg.Aircraft.Deaths')


avg_craft_serious = aviation_df.groupby(['Make', 'Model'])['Total.Serious.Injuries'].mean().sort_values(ascending=False)
avg_craft_serious_df = avg_craft_serious.reset_index(name='Avg.A.Serious.Injuries')


avg_craft_minor = aviation_df.groupby(['Make', 'Model'])['Total.Minor.Injuries'].mean().sort_values(ascending=False)
avg_craft_minor_df = avg_craft_minor.reset_index(name='Avg.A.Minor.Injuries')


avg_craft_uninjured = aviation_df.groupby(['Make','Model'])['Total.Uninjured'].mean().sort_values(ascending=False)
avg_craft_uninjured_df = avg_craft_uninjured.reset_index(name='Avg.Aircraft.Uninjured')

In [158]:
avg_severity_df

                    Make           Model  Avg.Severity
0                 Boeing         747-168        2792.0
1                Tupolev          TU-154        2792.0
2                 Boeing      767-366-ER        1736.0
3                 BOEING       777 - 206        1424.0
4      Mcdonnell Douglas         DC-8-62        1392.0
...                  ...             ...           ...
20131            Parsons       KITFOX II           0.0
20132            Parsons       RANS S-12           0.0
20133       De Havilland          DHC-2T           0.0
20134       De Havilland         DHC-22A           0.0
20135             HEMMER  MINI-MAX 1600R           0.0

[20136 rows x 3 columns]

In [159]:
acc_count_df

                           Make              Model  Accident.Count
0                        Cessna                152            2168
1                        Cessna                172            1254
2                        Cessna               172N             996
3                         Piper          PA-28-140             812
4                        Cessna                150             716
...                         ...                ...             ...
20131            MD HELICOPTERS             MD-369               1
20132         MD HELICOPTER INC             MD 900               1
20133         MD HELICOPTER INC        530 (369FF)               1
20134         MD HELICOPTER INC               369D               1
20135  107.5 Flying Corporation  One Design DR 107               1

[20136 rows x 3 columns]

In [160]:
avg_craft_deaths_df

                       Make           Model  Avg.Aircraft.Deaths
0                   Tupolev          TU-154                349.0
1                    Boeing         747-168                349.0
2                    Boeing      767-366-ER                217.0
3                    BOEING       777 - 206                178.0
4         Mcdonnell Douglas         DC-8-62                174.0
...                     ...             ...                  ...
20131  Lee Harold Swarthout   Velocity XLRG                  0.0
20132                   Lee     THORPE T-18                  0.0
20133                   Lee         SQ 2000                  0.0
20134                   Lee       BEDE BD-4                  0.0
20135                HEMMER  MINI-MAX 1600R                  0.0

[20136 rows x 3 columns]

In [161]:
avg_craft_serious_df

                       Make           Model  Avg.A.Serious.Injuries
0                   Tupolev          TU-154                   349.0
1                    Boeing         747-168                   349.0
2                    Boeing      767-366-ER                   217.0
3                    BOEING       777 - 206                   178.0
4         Mcdonnell Douglas         DC-8-62                   174.0
...                     ...             ...                     ...
20131  Lee Harold Swarthout   Velocity XLRG                     0.0
20132                   Lee     THORPE T-18                     0.0
20133                   Lee         SQ 2000                     0.0
20134                   Lee       BEDE BD-4                     0.0
20135                HEMMER  MINI-MAX 1600R                     0.0

[20136 rows x 3 columns]

In [162]:
avg_craft_minor_df

                           Make              Model  Avg.A.Minor.Injuries
0                        Boeing           747-2B6B                 380.0
1                        Boeing            737-297                  57.0
2                        BOEING          777-200ER                  50.0
3              Airbus Industrie           A340-300                  43.0
4             McDonnell Douglas            DC-9-51                  40.0
...                         ...                ...                   ...
20131                MCADAM W E  CHRISTEN EAGLE II                   0.0
20132                       MBB         BK 117 A-3                   0.0
20133           MAZUREK KEITH P       ZODIAC 601XL                   0.0
20134                      MAYS      KITFOX LITE 2                   0.0
20135  107.5 Flying Corporation  One Design DR 107                   0.0

[20136 rows x 3 columns]

In [163]:
avg_craft_uninjured_df

                           Make                 Model  Avg.Aircraft.Uninjured
0                        Boeing              747-4F6B                   699.0
1                        Boeing                747-SP                   699.0
2             Mcdonnell Douglas                 MD 83                   501.0
3                        Boeing               747-130                   471.5
4                        Boeing              747-243B                   459.0
...                         ...                   ...                     ...
20131           JOHNSTON COYT E                  T-18                     0.0
20132         JOHNSON LEONARD G            COZY MK-IV                     0.0
20133         JOHNSON KENNETH R           STOL CH 801                     0.0
20134            JOHNSON JOEL H  RANS S-6ES COYOTE II                     0.0
20135  107.5 Flying Corporation     One Design DR 107                     0.0

[20136 rows x 3 columns]

merging the new dfs, then sorting in order of avg aircraft risk

In [164]:
merged_frame = avg_craft_uninjured_df.merge(avg_craft_minor_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(avg_craft_serious_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(avg_craft_deaths_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(acc_count_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(avg_severity_df, on=['Make', 'Model'])

merged_frame.sort_values('Avg.Severity', ascending=False).head(10)

,Make,Model,Avg.Aircraft.Uninjured,Avg.A.Minor.Injuries,Avg.A.Serious.Injuries,Avg.Aircraft.Deaths,Accident.Count,Avg.Severity
12908,Boeing,747-168,0.0,0.0,349.0,349.0,1,2792.0
15784,Tupolev,TU-154,0.0,0.0,349.0,349.0,1,2792.0
13231,Boeing,767-366-ER,0.0,0.0,217.0,217.0,1,1736.0
12449,BOEING,777 - 206,0.0,0.0,178.0,178.0,3,1424.0
19149,Mcdonnell Douglas,DC-8-62,0.0,0.0,174.0,174.0,1,1392.0
13672,Airbus Industrie,A 310,0.0,10.0,169.0,169.0,1,1362.0
12541,AIRBUS,A320 - 216,0.0,0.0,162.0,162.0,1,1296.0
1129,Embraer,E135 Legacy,7.0,0.0,154.0,154.0,1,1232.0
11952,BOEING,MD-83,0.0,0.0,153.0,153.0,1,1224.0
12525,AIRBUS,A310,0.0,1.0,152.0,152.0,1,1217.0

for many of these planes, the severity of the accidents is very high, though the accidents themselves are very rare

In [169]:
merged_frame = avg_craft_uninjured_df.merge(avg_craft_minor_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(avg_craft_serious_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(avg_craft_deaths_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(acc_count_df, on=['Make', 'Model'])
merged_frame = merged_frame.merge(avg_severity_df, on=['Make', 'Model'])

merged_frame.sort_values('Accident.Count', ascending=False).head(10)

,Make,Model,Avg.Aircraft.Uninjured,Avg.A.Minor.Injuries,Avg.A.Serious.Injuries,Avg.Aircraft.Deaths,Accident.Count,Avg.Severity
5853,Cessna,152,1.003229,0.186808,0.160978,0.160978,2168,1.474631
5234,Cessna,172,1.385965,0.259171,0.184211,0.184211,1254,1.732855
5610,Cessna,172N,1.184739,0.321285,0.366466,0.366466,996,3.253012
10500,Piper,PA-28-140,0.901478,0.460591,0.349754,0.349754,812,3.258621
10444,Cessna,150,0.941341,0.256983,0.108939,0.108939,716,1.128492
5449,Cessna,172M,1.263868,0.331334,0.301349,0.301349,667,2.742129
5655,Cessna,172P,1.157454,0.333333,0.380235,0.380235,597,3.375209
10414,Cessna,150M,0.975881,0.257885,0.168831,0.168831,539,1.608534
5776,Piper,PA-18,1.081633,0.200371,0.152134,0.152134,539,1.417440
5529,Piper,PA-28-161,1.227092,0.288845,0.418327,0.418327,502,3.635458

this signals to me that for a particular make & model, high accident count doesn’t necessarily mean high avg-severity, and high avg-severity doesn't necessarily mean high accident count

adding new columns to the merged df, then sorting in order of total severity

In [170]:
merged_frame['Total.Severity'] = merged_frame['Avg.Severity'] * merged_frame['Accident.Count']
merged_frame['Total.Aircraft.Deaths'] = merged_frame['Avg.Aircraft.Deaths'] * merged_frame['Accident.Count']

merged_frame.sort_values('Total.Severity', ascending=False).head(10)

,Make,Model,Avg.Aircraft.Uninjured,Avg.A.Minor.Injuries,Avg.A.Serious.Injuries,Avg.Aircraft.Deaths,Accident.Count,Avg.Severity,Total.Severity,Total.Aircraft.Deaths
659,BOEING,737,48.468966,0.174713,3.098851,3.098851,435,24.965517,10860.0,1348.0
638,Boeing,737-200,50.283019,1.320755,17.094340,17.094340,53,138.075472,7318.0,906.0
12449,BOEING,777 - 206,0.000000,0.000000,178.000000,178.000000,3,1424.000000,4272.0,534.0
543,Boeing,MD-82,69.714286,2.571429,57.571429,57.571429,7,463.142857,3242.0,403.0
5610,Cessna,172N,1.184739,0.321285,0.366466,0.366466,996,3.253012,3240.0,365.0
5853,Cessna,152,1.003229,0.186808,0.160978,0.160978,2168,1.474631,3197.0,349.0
5551,Piper,PA-28-181,1.207983,0.373950,0.754202,0.754202,476,6.407563,3050.0,359.0
695,AIRBUS,A321,42.800000,0.066667,25.400000,25.400000,15,203.266667,3049.0,381.0
12908,Boeing,747-168,0.000000,0.000000,349.000000,349.000000,1,2792.000000,2792.0,349.0
15784,Tupolev,TU-154,0.000000,0.000000,349.000000,349.000000,1,2792.000000,2792.0,349.0

this gives a fuller picture.
the severity for planes with low avg-severity accidents adds up if they crash frequently enough

In [171]:
merged_frame['Total.Severity'] = merged_frame['Avg.Severity'] * merged_frame['Accident.Count']
merged_frame['Total.Aircraft.Deaths'] = merged_frame['Avg.Aircraft.Deaths'] * merged_frame['Accident.Count']

merged_frame.sort_values('Total.Severity', ascending=True).head(10)

,Make,Model,Avg.Aircraft.Uninjured,Avg.A.Minor.Injuries,Avg.A.Serious.Injuries,Avg.Aircraft.Deaths,Accident.Count,Avg.Severity,Total.Severity,Total.Aircraft.Deaths
0,Boeing,747-4F6B,699.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8247,STEMME GMBH & CO,S-10,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8248,STINSON,SR 5A,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8249,STEPPLING,RV-6A,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8250,STETSON NORMAN B,CHALLENGER II,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8251,STEVEN R MCNEESE,AIRBORNE EDGE X,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8252,Alon,AIRCOUPE,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8253,STEWART MW/STEWART JD,SONERAI 2L,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8254,STICK & RAG FLYING CLUB,CB 1,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0
8255,STIEGELMEYER JOHN R,VANS RV-7A,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0

here total severity is 0 but, the avg uninjured is also pretty low for almost all, implying that the aircraft capacity is also low, so they're not the best fit for commercial purposes

attempting to define and add a 'safety score' column (btn 0 and 1) to the merged df, ie the probability that a person involved in an accident is uninjured

In [172]:
merged_frame['Safety.Score'] = (
    merged_frame['Avg.Aircraft.Uninjured'] /
    (
        merged_frame['Avg.Aircraft.Uninjured'] +
        merged_frame['Avg.A.Minor.Injuries'] +
        merged_frame['Avg.A.Serious.Injuries'] +
        merged_frame['Avg.Aircraft.Deaths']
    )
)

In [173]:
merged_frame.corr()

,Avg.Aircraft.Uninjured,Avg.A.Minor.Injuries,Avg.A.Serious.Injuries,Avg.Aircraft.Deaths,Accident.Count,Avg.Severity,Total.Severity,Total.Aircraft.Deaths,Safety.Score
Avg.Aircraft.Uninjured,1.000000,0.077286,0.006641,0.006641,-0.004607,0.011394,0.051110,0.047061,0.190415
Avg.A.Minor.Injuries,0.077286,1.000000,0.006493,0.006493,-0.001066,0.068167,0.030134,0.008440,-0.074560
Avg.A.Serious.Injuries,0.006641,0.006493,1.000000,1.000000,-0.003196,0.998096,0.427296,0.439710,-0.124935
Avg.Aircraft.Deaths,0.006641,0.006493,1.000000,1.000000,-0.003196,0.998096,0.427296,0.439710,-0.124935
Accident.Count,-0.004607,-0.001066,-0.003196,-0.003196,1.000000,-0.003254,0.518620,0.484973,0.004925
Avg.Severity,0.011394,0.068167,0.998096,0.998096,-0.003254,1.000000,0.428170,0.439217,-0.129258
Total.Severity,0.051110,0.030134,0.427296,0.427296,0.518620,0.428170,1.000000,0.998453,-0.053008
Total.Aircraft.Deaths,0.047061,0.008440,0.439710,0.439710,0.484973,0.439217,0.998453,1.000000,-0.053514
Safety.Score,0.190415,-0.074560,-0.124935,-0.124935,0.004925,-0.129258,-0.053008,-0.053514,1.000000

creating a filtering definition for 'safe planes' and ranking them based on safety scores

In [174]:
safe_planes = merged_frame.loc[
    (merged_frame['Accident.Count'] >= 20) &
    (merged_frame['Avg.Aircraft.Uninjured'] > 70) &
    (merged_frame['Total.Aircraft.Deaths'] <= 2)
]

safe_planes = safe_planes.sort_values('Safety.Score', ascending=False)
safe_planes.head(10)

,Make,Model,Avg.Aircraft.Uninjured,Avg.A.Minor.Injuries,Avg.A.Serious.Injuries,Avg.Aircraft.Deaths,Accident.Count,Avg.Severity,Total.Severity,Total.Aircraft.Deaths,Safety.Score
522,BOEING,757,74.129032,0.064516,0.0,0.0,31,0.064516,2.0,0.0,0.999130
473,BOEING,787,85.480000,0.080000,0.0,0.0,25,0.080000,2.0,0.0,0.999065
516,BOEING,737-800,75.700000,0.100000,0.0,0.0,20,0.100000,2.0,0.0,0.998681
255,Boeing,747,136.000000,0.200000,0.0,0.0,20,0.200000,4.0,0.0,0.998532
399,BOEING,777,104.168675,0.216867,0.0,0.0,83,0.216867,18.0,0.0,0.997922
497,Boeing,737,80.685185,0.277778,0.0,0.0,54,0.277778,15.0,0.0,0.996569
434,BOEING,767,96.166667,0.333333,0.0,0.0,48,0.333333,16.0,0.0,0.996546
420,Mcdonnell Douglas,MD-88,99.750000,0.700000,0.1,0.1,20,1.500000,30.0,2.0,0.991058

so the above are the top 10 safest planes

In [175]:
merged_frame.sort_values('Safety.Score', ascending=False).head(10)

,Make,Model,Avg.Aircraft.Uninjured,Avg.A.Minor.Injuries,Avg.A.Serious.Injuries,Avg.Aircraft.Deaths,Accident.Count,Avg.Severity,Total.Severity,Total.Aircraft.Deaths,Safety.Score
0,Boeing,747-4F6B,699.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7091,Howard,Super Sky Raider,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7084,Boeing,MD600N,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7086,Boeing Stearman,1B75A,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7087,Garlick Helicopters Inc,OH- 58C,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7088,Gensen,B8M,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7089,Howard Aircraft,DGA-15P,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7090,Homer Davis,RV4,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7092,Houts,Avid Mark IV,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0
7100,Boeing Stearman,A-75,1.0,0.0,0.0,0.0,1,0.0,0.0,0.0,1.0

didn't pick these as the safest planes even though they have a safety score of 1 bc most of them have an accident count of only 1, which could be a good thing, or it could be that the planes flew for only a few hours