## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

The Scenario

The company you work for is interested in purchasing and operating airplanes for commercial and private enterprises, but know nothing about the potential risks of aircraft.
You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor.

The Data

aviation accident data from 1962 to 2023 about civil aviation accidents 
up to you to decide:
-> what data to use
-> how to deal with missing values
-> how to aggregate (ie. sum, mean, median, count, max..) the data
-> how to visualize it in an interactive dashboard

The Expectation

make 3 recommendations for how the business should move forward
insights to help the head of the new aviation division decide which aircraft to purchase

You should make:

A non-technical presentation (ie. slides)
A Jupyter Notebook
A GitHub repository
An Interactive Dashboard (ie. tableau)

In [1]:
import pandas as pd

In [3]:
aviation_df = pd.read_csv('Aviation_Data.csv')
aviation_df

c:\Users\User\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [4]:
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [5]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [36]:
aviation_df.iloc[0:10, [14,15,23,24,25,27]]

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Weather.Condition
0,Stinson,108-3,2.0,0.0,0.0,UNK
1,Piper,PA24-180,4.0,0.0,0.0,UNK
2,Cessna,172M,3.0,NaN,NaN,IMC
3,Rockwell,112,2.0,0.0,0.0,IMC
4,Cessna,501,1.0,2.0,NaN,VMC
5,Mcdonnell Douglas,DC9,NaN,NaN,1.0,VMC
6,Cessna,180,4.0,0.0,0.0,IMC
7,Cessna,140,0.0,0.0,0.0,VMC
8,Cessna,401B,0.0,0.0,0.0,IMC
9,North American,NAVION L-17B,0.0,0.0,3.0,IMC

In [43]:
aviation_df.loc[aviation_df['Aircraft.damage'] == 'Substantial', ['Total.Fatal.Injuries']]

# trying to see if the aircraft.damage column is really significant, or if fatal injuries correlate with 'destroyed'

       Total.Fatal.Injuries
5                       0.0
7                       0.0
8                       0.0
9                       0.0
10                      0.0
...                     ...
90328                   0.0
90332                   0.0
90335                   0.0
90336                   0.0
90345                   0.0

[64148 rows x 1 columns]

In [ ]:
aviation_df['Aircraft.damage'].value_counts()['Destroyed']

18623

In [31]:
aviation_df['Aircraft.Category'].value_counts()['Airplane']

27617

In [38]:
aviation_df['Total.Fatal.Injuries'].isnull().sum()

12860

In [41]:
aviation_df['Total.Fatal.Injuries'] = aviation_df['Total.Fatal.Injuries'].fillna(0)

In [49]:
aviation_df['Total.Serious.Injuries'] = aviation_df['Total.Fatal.Injuries'].fillna(0)

In [50]:
aviation_df['Total.Minor.Injuries'] = aviation_df['Total.Minor.Injuries'].fillna(0)

imputed with fillna(0), didn't want to assume no fatalities or injuries reported means average fatalities reported

In [51]:
aviation_df['Total.Fatal.Injuries'].isnull().sum()

0

In [52]:
aviation_df['Total.Minor.Injuries'].isnull().sum()

0

In [53]:
# attempting to define a 'risk' column

aviation_df['Risk'] = (
    aviation_df['Total.Fatal.Injuries'] * 5 + 
    aviation_df['Total.Serious.Injuries'] * 3 + 
    aviation_df['Total.Minor.Injuries'] * 1
)

In [54]:
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'Risk'],
      dtype='object')

In [55]:
aviation_df.iloc[0:10, [14,15,23,24,25,27,31]]

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Weather.Condition,Risk
0,Stinson,108-3,2.0,2.0,0.0,UNK,16.0
1,Piper,PA24-180,4.0,4.0,0.0,UNK,32.0
2,Cessna,172M,3.0,3.0,0.0,IMC,24.0
3,Rockwell,112,2.0,2.0,0.0,IMC,16.0
4,Cessna,501,1.0,1.0,0.0,VMC,8.0
5,Mcdonnell Douglas,DC9,0.0,0.0,1.0,VMC,1.0
6,Cessna,180,4.0,4.0,0.0,IMC,32.0
7,Cessna,140,0.0,0.0,0.0,VMC,0.0
8,Cessna,401B,0.0,0.0,0.0,IMC,0.0
9,North American,NAVION L-17B,0.0,0.0,3.0,IMC,3.0