## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

The Scenario

The company you work for is interested in purchasing and operating airplanes for commercial and private enterprises, but know nothing about the potential risks of aircraft.
You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor.

The Data

aviation accident data from 1962 to 2023 about civil aviation accidents 
up to you to decide:
-> what data to use
-> how to deal with missing values
-> how to aggregate (ie. sum, mean, median, count, max..) the data
-> how to visualize it in an interactive dashboard

The Expectation

make 3 recommendations for how the business should move forward
insights to help the head of the new aviation division decide which aircraft to purchase

You should make:

A non-technical presentation (ie. slides)
A Jupyter Notebook
A GitHub repository
An Interactive Dashboard (ie. tableau)

In [135]:
import pandas as pd

In [136]:
aviation_df = pd.read_csv('Aviation_Data.csv')
aviation_df

c:\Users\User\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

some eda

In [137]:
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [138]:
aviation_df['Number.of.Engines'].value_counts()

1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

In [139]:
aviation_df.iloc[0:10, [14,15,23,24,25,27]]

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Weather.Condition
0,Stinson,108-3,2.0,0.0,0.0,UNK
1,Piper,PA24-180,4.0,0.0,0.0,UNK
2,Cessna,172M,3.0,NaN,NaN,IMC
3,Rockwell,112,2.0,0.0,0.0,IMC
4,Cessna,501,1.0,2.0,NaN,VMC
5,Mcdonnell Douglas,DC9,NaN,NaN,1.0,VMC
6,Cessna,180,4.0,0.0,0.0,IMC
7,Cessna,140,0.0,0.0,0.0,VMC
8,Cessna,401B,0.0,0.0,0.0,IMC
9,North American,NAVION L-17B,0.0,0.0,3.0,IMC

In [140]:
aviation_df['Aircraft.damage'].value_counts()['Destroyed']

18623

In [141]:
aviation_df['Investigation.Type'].value_counts()['Accident']

85015

In [142]:
aviation_df['Model'].value_counts()['747-4F6B']

1

In [200]:
aviation_df['Investigation.Type'].value_counts()

Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
04-08-2021        1
18-11-2020        1
06-01-2021        1
05-04-2021        1
05-08-2022        1
Name: Investigation.Type, Length: 71, dtype: int64

In [144]:
aviation_df['Total.Fatal.Injuries'].isnull().sum()

12860

In [145]:
aviation_df['Make'] = aviation_df['Make'].str.upper()
aviation_df['Model'] = aviation_df['Model'].str.upper()

In [146]:
aviation_df['Model.Count'] = aviation_df['Model'].map(aviation_df['Model'].value_counts())

will impute injury/fatality NaNs with 0

In [147]:
aviation_df['Total.Fatal.Injuries'] = aviation_df['Total.Fatal.Injuries'].fillna(0)
aviation_df['Total.Serious.Injuries'] = aviation_df['Total.Fatal.Injuries'].fillna(0)
aviation_df['Total.Minor.Injuries'] = aviation_df['Total.Minor.Injuries'].fillna(0)
aviation_df['Total.Uninjured'] = aviation_df['Total.Uninjured'].fillna(0)

now confirming the clean

In [148]:
aviation_df['Total.Fatal.Injuries'].isnull().sum()

0

In [149]:
aviation_df['Total.Serious.Injuries'].isnull().sum()

0

In [150]:
aviation_df['Total.Minor.Injuries'].isnull().sum()

0

In [151]:
aviation_df['Total.Uninjured'].isnull().sum()

0

attempting to define a 'severity index' column. giving different 'weight' to death vs serious injury vs minor injury

In [152]:
aviation_df['Severity.Index'] = (
    aviation_df['Total.Fatal.Injuries'] * 5 + 
    aviation_df['Total.Serious.Injuries'] * 3 + 
    aviation_df['Total.Minor.Injuries'] * 1
)

In [153]:
aviation_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'Model.Count', 'Severity.Index'],
      dtype='object')

creating 7 new dfs

In [154]:
avg_severity = aviation_df.groupby(['Make','Model'])['Severity.Index'].mean().sort_values(ascending=False)
avg_severity_df = avg_severity.reset_index(name='per.Accident.Severity')


observations_df = (aviation_df.groupby(['Make','Model']).size().reset_index(name='Aircraft.Observations').sort_values('Aircraft.Observations', ascending=False))


accidents_df = (aviation_df[aviation_df['Investigation.Type'] == 'Accident'].groupby(['Make', 'Model']).size().reset_index(name='Aircraft.Accidents')).sort_values('Aircraft.Accidents', ascending=False)


avg_craft_deaths = aviation_df.groupby(['Make','Model'])['Total.Fatal.Injuries'].mean().sort_values(ascending=False)
avg_craft_deaths_df = avg_craft_deaths.reset_index(name='per.Accident.Deaths')


avg_craft_serious = aviation_df.groupby(['Make','Model'])['Total.Serious.Injuries'].mean().sort_values(ascending=False)
avg_craft_serious_df = avg_craft_serious.reset_index(name='per.A.Serious.Injuries')


avg_craft_minor = aviation_df.groupby(['Make','Model'])['Total.Minor.Injuries'].mean().sort_values(ascending=False)
avg_craft_minor_df = avg_craft_minor.reset_index(name='per.A.Minor.Injuries')


avg_craft_uninjured = aviation_df.groupby(['Make','Model'])['Total.Uninjured'].mean().sort_values(ascending=False)
avg_craft_uninjured_df = avg_craft_uninjured.reset_index(name='per.Accident.Uninjured')

In [155]:
avg_severity_df

                     Make               Model  per.Accident.Severity
0                 TUPOLEV              TU-154                 2792.0
1                  BOEING             747-168                 2792.0
2                  BOEING          767-366-ER                 1736.0
3                  BOEING           777 - 206                 1424.0
4       MCDONNELL DOUGLAS             DC-8-62                 1392.0
...                   ...                 ...                    ...
18241              JAVRON       PA-18 REPLICA                    0.0
18242              JASPER      THUNDERBIRD-2C                    0.0
18243             JAQUISH  CHALLENGER SPEC II                    0.0
18244  JANNAKOS GREGORY P      ZODIAC 601 HDS                    0.0
18245              HAWKER     SEA FURY TMK 20                    0.0

[18246 rows x 3 columns]

In [156]:
observations_df

                         Make        Model  Aircraft.Observations
4610                   CESSNA          152                   2366
4634                   CESSNA          172                   1753
4685                   CESSNA         172N                   1163
13404                   PIPER    PA-28-140                    932
4583                   CESSNA          150                    829
...                       ...          ...                    ...
7468   EUROCOPTER DEUTSCHLAND      BK117C1                      1
7469   EUROCOPTER DEUTSCHLAND       BO-105                      1
7470   EUROCOPTER DEUTSCHLAND  BO-105 CBS5                      1
7471   EUROCOPTER DEUTSCHLAND    EC 135 P2                      1
18245        ZWICKER MURRAY R      GLASTAR                      1

[18246 rows x 3 columns]

In [157]:
accidents_df

                                 Make      Model  Aircraft.Accidents
4219                           CESSNA        152                2348
4243                           CESSNA        172                1744
4294                           CESSNA       172N                1160
12772                           PIPER  PA-28-140                 929
4192                           CESSNA        150                 822
...                               ...        ...                 ...
7111                EXTRA FLUGZEUGBAU   GMBH 300                   1
7114   EXTRA FLUGZEUGPRODUKTIONS-GMBH   EA-300/L                   1
7115    EXTRA FLUGZEUGPRODUKTIONS-UND     EA 300                   1
7117           EXTRA FLUGZEUGRAU GMBH   EA 300/L                   1
17536                ZWICKER MURRAY R    GLASTAR                   1

[17537 rows x 3 columns]

In [158]:
avg_craft_deaths_df

                          Make                 Model  per.Accident.Deaths
0                      TUPOLEV                TU-154                349.0
1                       BOEING               747-168                349.0
2                       BOEING            767-366-ER                217.0
3                       BOEING             777 - 206                178.0
4            MCDONNELL DOUGLAS               DC-8-62                174.0
...                        ...                   ...                  ...
18241           LIMING LOUIS L  HPL 1 HIGH WING PARA                  0.0
18242                    LIMES         CHALLENGER II                  0.0
18243                     LIMA          SKY RAIDER I                  0.0
18244  LIGHTNING AVION EAB LLC       ARION LIGHTNING                  0.0
18245                   HAWKER       SEA FURY TMK 20                  0.0

[18246 rows x 3 columns]

In [159]:
avg_craft_serious_df

                          Make                 Model  per.A.Serious.Injuries
0                      TUPOLEV                TU-154                   349.0
1                       BOEING               747-168                   349.0
2                       BOEING            767-366-ER                   217.0
3                       BOEING             777 - 206                   178.0
4            MCDONNELL DOUGLAS               DC-8-62                   174.0
...                        ...                   ...                     ...
18241           LIMING LOUIS L  HPL 1 HIGH WING PARA                     0.0
18242                    LIMES         CHALLENGER II                     0.0
18243                     LIMA          SKY RAIDER I                     0.0
18244  LIGHTNING AVION EAB LLC       ARION LIGHTNING                     0.0
18245                   HAWKER       SEA FURY TMK 20                     0.0

[18246 rows x 3 columns]

In [160]:
avg_craft_minor_df

                           Make                 Model  per.A.Minor.Injuries
0                        BOEING              747-2B6B                 380.0
1                        BOEING               737-297                  57.0
2              AIRBUS INDUSTRIE              A340-300                  43.0
3                        BOEING               747-256                  35.0
4                     COMMANDER                 112TC                  30.0
...                         ...                   ...                   ...
18241                    MARTIN  STODDARD HAMILTON II                   0.0
18242                    MARTIN    SORRELL HIPERLIGHT                   0.0
18243                    MARTIN                 SONEX                   0.0
18244                    MARTIN      RANS S-7 COURIER                   0.0
18245  107.5 FLYING CORPORATION     ONE DESIGN DR 107                   0.0

[18246 rows x 3 columns]

In [161]:
avg_craft_uninjured_df

                           Make              Model  per.Accident.Uninjured
0                        BOEING           747-4F6B                   699.0
1                        BOEING             747-SP                   699.0
2             MCDONNELL DOUGLAS              MD 83                   501.0
3                        BOEING            747-130                   471.5
4                        BOEING           747-243B                   459.0
...                         ...                ...                     ...
18241                   DOUGLAS            C54A-DC                     0.0
18242                     PIPER        PA-22-108/U                     0.0
18243                     PIPER          PA-20-180                     0.0
18244                   DOUGLAS       DC-3C/BT-67R                     0.0
18245  107.5 FLYING CORPORATION  ONE DESIGN DR 107                     0.0

[18246 rows x 3 columns]

merging the new dfs, then sorting in order of avg aircraft risk

In [165]:
merged_frame = avg_craft_uninjured_df.merge(avg_craft_minor_df, on=['Make','Model'], how='inner')
merged_frame = merged_frame.merge(avg_craft_serious_df, on=['Make','Model'], how='inner')
merged_frame = merged_frame.merge(avg_craft_deaths_df, on=['Make','Model'], how='inner')
merged_frame = merged_frame.merge(accidents_df, on=['Make','Model'], how='inner')
merged_frame = merged_frame.merge(observations_df, on=['Make','Model'], how='inner')
merged_frame = merged_frame.merge(avg_severity_df, on=['Make','Model'], how='inner')

In [166]:
merged_frame.sort_values('per.Accident.Severity', ascending=False).head(10)

,Make,Model,per.Accident.Uninjured,per.A.Minor.Injuries,per.A.Serious.Injuries,per.Accident.Deaths,Aircraft.Accidents,Aircraft.Observations,per.Accident.Severity
10115,BOEING,747-168,0.0,0.0,349.0,349.0,1,1,2792.0
12528,TUPOLEV,TU-154,0.0,0.0,349.0,349.0,1,1,2792.0
10708,BOEING,767-366-ER,0.0,0.0,217.0,217.0,1,1,1736.0
10715,BOEING,777 - 206,0.0,0.0,178.0,178.0,3,3,1424.0
14918,MCDONNELL DOUGLAS,DC-8-62,0.0,0.0,174.0,174.0,1,1,1392.0
11183,AIRBUS INDUSTRIE,A 310,0.0,10.0,169.0,169.0,1,1,1362.0
11075,AIRBUS,A320 - 216,0.0,0.0,162.0,162.0,1,1,1296.0
708,EMBRAER,E135 LEGACY,7.0,0.0,154.0,154.0,1,1,1232.0
10622,BOEING,MD-83,0.0,0.0,153.0,153.0,1,1,1224.0
534,AIRBUS INDUSTRIE,A310-300,17.0,0.0,124.0,124.0,1,1,992.0

for many of these planes, the severity of the accidents is very high, though the accidents themselves are very rare

this signals to me that for a particular make & model, high accident count doesn’t necessarily mean high avg-severity, and high avg-severity doesn't necessarily mean high accident count

adding new columns to the merged df, then sorting in order of total severity

In [167]:
merged_frame['Total.Severity'] = merged_frame['per.Accident.Severity'] * merged_frame['Aircraft.Accidents']
merged_frame['Total.Aircraft.Deaths'] = merged_frame['per.Accident.Deaths'] * merged_frame['Aircraft.Accidents']
merged_frame['Accident.Rate'] = merged_frame['Aircraft.Accidents'] / merged_frame['Aircraft.Observations']
merged_frame['Mortality.Rate'] = merged_frame['Total.Aircraft.Deaths'] / ((merged_frame['per.Accident.Uninjured'] * merged_frame['Aircraft.Accidents']) + (merged_frame['per.A.Minor.Injuries'] * merged_frame['Aircraft.Accidents']) + (merged_frame['per.A.Serious.Injuries'] * merged_frame['Aircraft.Accidents']) + merged_frame['Total.Aircraft.Deaths'])
merged_frame['Survival.Rate'] = 1 - merged_frame['Mortality.Rate']

In [168]:
merged_frame

,Make,Model,per.Accident.Uninjured,per.A.Minor.Injuries,per.A.Serious.Injuries,per.Accident.Deaths,Aircraft.Accidents,Aircraft.Observations,per.Accident.Severity,Total.Severity,Total.Aircraft.Deaths,Accident.Rate,Mortality.Rate,Survival.Rate
0,BOEING,747-4F6B,699.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0,1.0,0.0,1.0
1,BOEING,747-SP,699.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0,1.0,0.0,1.0
2,MCDONNELL DOUGLAS,MD 83,501.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0,1.0,0.0,1.0
3,BOEING,747-243B,459.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0,1.0,0.0,1.0
4,BOEING,777-281,450.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17532,DOUGLAS,C54A-DC,0.0,0.0,2.0,2.0,1,1,16.0,16.0,2.0,1.0,0.5,0.5
17533,PIPER,PA-22-108/U,0.0,2.0,0.0,0.0,1,1,2.0,2.0,0.0,1.0,0.0,1.0
17534,PIPER,PA-20-180,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0,1.0,NaN,NaN
17535,DOUGLAS,DC-3C/BT-67R,0.0,0.0,4.0,4.0,1,1,32.0,32.0,4.0,1.0,0.5,0.5
17536,107.5 FLYING CORPORATION,ONE DESIGN DR 107,0.0,0.0,1.0,1.0,1,1,8.0,8.0,1.0,1.0,0.5,0.5

In [169]:
merged_frame.sort_values('Total.Severity', ascending=False).head(10)

,Make,Model,per.Accident.Uninjured,per.A.Minor.Injuries,per.A.Serious.Injuries,per.Accident.Deaths,Aircraft.Accidents,Aircraft.Observations,per.Accident.Severity,Total.Severity,Total.Aircraft.Deaths,Accident.Rate,Mortality.Rate,Survival.Rate
381,BOEING,737-200,50.283019,1.320755,17.094340,17.094340,35,53,138.075472,4832.641509,598.301887,0.660377,0.199252,0.800748
10715,BOEING,777 - 206,0.000000,0.000000,178.000000,178.000000,3,3,1424.000000,4272.000000,534.000000,1.000000,0.500000,0.500000
4478,CESSNA,172N,1.160791,0.293207,0.368014,0.368014,1160,1163,3.237317,3755.288048,426.895959,0.997420,0.168041,0.831959
4290,CESSNA,172,1.283514,0.223046,0.227039,0.227039,1744,1753,2.039361,3556.645750,395.956646,0.994866,0.115799,0.884201
8724,CESSNA,152,0.999155,0.177937,0.164835,0.164835,2348,2366,1.496619,3514.060862,387.032967,0.992392,0.109397,0.890603
4393,PIPER,PA-28-181,1.215501,0.347826,0.718336,0.718336,525,529,6.094518,3199.621928,377.126654,0.992439,0.239445,0.760555
374,BOEING,737,52.026585,0.186094,2.756646,2.756646,135,489,22.239264,3002.300613,372.147239,0.276074,0.047754,0.952246
8808,PIPER,PA-28-140,0.905579,0.436695,0.344421,0.344421,929,932,3.192060,2965.423820,319.966738,0.996781,0.169572,0.830428
12528,TUPOLEV,TU-154,0.000000,0.000000,349.000000,349.000000,1,1,2792.000000,2792.000000,349.000000,1.000000,0.500000,0.500000
10115,BOEING,747-168,0.000000,0.000000,349.000000,349.000000,1,1,2792.000000,2792.000000,349.000000,1.000000,0.500000,0.500000

the plane with the most fatalities had 35 accidents, and an accident rate of 0.66. numbers 3-5 had 1160, 1744 and 2348 respectively, with accident rates of 0.99
so the total severity from accidents for planes with low average severity adds up if they crash frequently enough

In [171]:
merged_frame.columns

Index(['Make', 'Model', 'per.Accident.Uninjured', 'per.A.Minor.Injuries',
       'per.A.Serious.Injuries', 'per.Accident.Deaths', 'Aircraft.Accidents',
       'Aircraft.Observations', 'per.Accident.Severity', 'Total.Severity',
       'Total.Aircraft.Deaths', 'Accident.Rate', 'Mortality.Rate',
       'Survival.Rate'],
      dtype='object')

In [175]:
merged_frame.corr()

,per.Accident.Uninjured,per.A.Minor.Injuries,per.A.Serious.Injuries,per.Accident.Deaths,Aircraft.Accidents,Aircraft.Observations,per.Accident.Severity,Total.Severity,Total.Aircraft.Deaths,Accident.Rate,Mortality.Rate,Survival.Rate
per.Accident.Uninjured,1.000000,0.234622,0.016673,0.016673,-0.007043,0.002043,0.022021,0.040957,0.037886,-0.373401,-0.115768,0.115768
per.A.Minor.Injuries,0.234622,1.000000,0.016264,0.016264,-0.003190,-0.001223,0.039093,0.032918,0.020303,-0.092705,-0.143672,0.143672
per.A.Serious.Injuries,0.016673,0.016264,1.000000,1.000000,-0.004594,-0.003497,0.999739,0.468237,0.491546,-0.039951,0.176527,-0.176527
per.Accident.Deaths,0.016673,0.016264,1.000000,1.000000,-0.004594,-0.003497,0.999739,0.468237,0.491546,-0.039951,0.176527,-0.176527
Aircraft.Accidents,-0.007043,-0.003190,-0.004594,-0.004594,1.000000,0.996470,-0.004664,0.668816,0.635458,-0.007285,0.006818,-0.006818
Aircraft.Observations,0.002043,-0.001223,-0.003497,-0.003497,0.996470,1.000000,-0.003522,0.683321,0.650754,-0.031284,0.005301,-0.005301
per.Accident.Severity,0.022021,0.039093,0.999739,0.999739,-0.004664,-0.003522,1.000000,0.468693,0.491699,-0.042043,0.173160,-0.173160
Total.Severity,0.040957,0.032918,0.468237,0.468237,0.668816,0.683321,0.468693,1.000000,0.998553,-0.094275,0.104720,-0.104720
Total.Aircraft.Deaths,0.037886,0.020303,0.491546,0.491546,0.635458,0.650754,0.491699,0.998553,1.000000,-0.094615,0.111151,-0.111151
Accident.Rate,-0.373401,-0.092705,-0.039951,-0.039951,-0.007285,-0.031284,-0.042043,-0.094275,-0.094615,1.000000,0.074490,-0.074490
Mortality.Rate,-0.115768,-0.143672,0.176527,0.176527,0.006818,0.005301,0.173160,0.104720,0.111151,0.074490,1.000000,-1.000000
Survival.Rate,0.115768,0.143672,-0.176527,-0.176527,-0.006818,-0.005301,-0.173160,-0.104720,-0.111151,-0.074490,-1.000000,1.000000

creating a crash_survival df that filters the merged df for a threshold number of accidents, people uninjured per accident and total aircraft deaths for each aircraft

In [204]:
filtered_survival = merged_frame.loc[
    (merged_frame['Aircraft.Accidents'] >= 20) &
    (merged_frame['Total.Aircraft.Deaths'] <= 2)
]

filtered_survival.sort_values('Survival.Rate', ascending=False)

,Make,Model,per.Accident.Uninjured,per.A.Minor.Injuries,per.A.Serious.Injuries,per.Accident.Deaths,Aircraft.Accidents,Aircraft.Observations,per.Accident.Severity,Total.Severity,Total.Aircraft.Deaths,Accident.Rate,Mortality.Rate,Survival.Rate
251,BOEING,777,99.147368,0.242105,0.000000,0.000000,23,95,0.242105,5.568421,0.000000,0.242105,0.000000,1.000000
4162,HILLER,UH-12B,1.363636,0.136364,0.000000,0.000000,22,22,0.136364,3.000000,0.000000,1.000000,0.000000,1.000000
4613,AVIAT AIRCRAFT INC,A-1B,1.045455,0.090909,0.000000,0.000000,22,22,0.090909,2.000000,0.000000,1.000000,0.000000,1.000000
4530,LET,BLANIK L-13,1.117647,0.176471,0.000000,0.000000,34,34,0.176471,6.000000,0.000000,1.000000,0.000000,1.000000
8809,GRUMMAN,G164B,0.904762,0.095238,0.000000,0.000000,21,21,0.095238,2.000000,0.000000,1.000000,0.000000,1.000000
4444,EVEKTOR-AEROTECHNIK AS,SPORTSTAR,1.190476,0.095238,0.000000,0.000000,21,21,0.095238,2.000000,0.000000,1.000000,0.000000,1.000000
4374,ROBINSON HELICOPTER,R22,1.238095,0.047619,0.000000,0.000000,21,21,0.047619,1.000000,0.000000,1.000000,0.000000,1.000000
8751,SCHWEIZER,SGS-2-33A,0.952381,0.285714,0.000000,0.000000,21,21,0.285714,6.000000,0.000000,1.000000,0.000000,1.000000
9082,GRUMMAN-SCHWEIZER,G-164A,0.720000,0.240000,0.000000,0.000000,50,50,0.240000,12.000000,0.000000,1.000000,0.000000,1.000000
4620,PIPER,PA 18,1.037037,0.148148,0.000000,0.000000,27,27,0.148148,4.000000,0.000000,1.000000,0.000000,1.000000
9311,GRUMMAN ACFT ENG COR-SCHWEIZER,G-164B,0.625000,0.166667,0.000000,0.000000,24,24,0.166667,4.000000,0.000000,1.000000,0.000000,1.000000
4091,PIPER,PA 28,1.434783,0.347826,0.000000,0.000000,23,23,0.347826,8.000000,0.000000,1.000000,0.000000,1.000000
9294,CONSOLIDATED AERONAUTICS INC.,LAKE LA-4-200,0.640000,0.400000,0.000000,0.000000,25,25,0.400000,10.000000,0.000000,1.000000,0.000000,1.000000
355,BOEING,747,59.200000,0.117647,0.070588,0.070588,20,85,0.682353,13.647059,1.411765,0.235294,0.001187,0.998813
4586,SCHWEIZER,SGS 2-33A,1.071429,0.285714,0.014286,0.014286,70,70,0.400000,28.000000,1.000000,1.000000,0.010309,0.989691
4493,BEECH,C-23,1.147059,0.500000,0.029412,0.029412,34,34,0.735294,25.000000,1.000000,1.000000,0.017241,0.982759
4276,PIPER,PA-18-160,1.290323,0.129032,0.032258,0.032258,31,31,0.387097,12.000000,1.000000,1.000000,0.021739,0.978261
4061,ENSTROM,F-28C,1.490196,0.196078,0.039216,0.039216,50,51,0.509804,25.490196,1.960784,0.980392,0.022222,0.977778
3714,PIPER,PA 28-161,1.750000,0.150000,0.050000,0.050000,20,20,0.550000,11.000000,1.000000,1.000000,0.025000,0.975000
4385,CESSNA,195B,1.222222,0.185185,0.037037,0.037037,27,27,0.481481,13.000000,1.000000,1.000000,0.025000,0.975000
4071,ENSTROM,F-28A,1.454545,0.250000,0.045455,0.045455,41,44,0.613636,25.159091,1.863636,0.931818,0.025316,0.974684
4108,MAULE,M-4-220C,1.421053,0.157895,0.052632,0.052632,38,38,0.578947,22.000000,2.000000,1.000000,0.031250,0.968750
4498,HILLER,UH-12C,1.142857,0.238095,0.047619,0.047619,21,21,0.619048,13.000000,1.000000,1.000000,0.032258,0.967742
4171,BRANTLY HELICOPTER,B-2B,1.350000,0.100000,0.050000,0.050000,20,20,0.500000,10.000000,1.000000,1.000000,0.032258,0.967742
4303,BOEING,E75,1.270270,0.270270,0.054054,0.054054,37,37,0.702703,26.000000,2.000000,1.000000,0.032787,0.967213
8994,EAGLE AIRCRAFT CO.,DW-1,0.766667,0.166667,0.033333,0.033333,30,30,0.433333,13.000000,1.000000,1.000000,0.033333,0.966667
4268,CHAMPION,7GCB,1.300000,0.100000,0.050000,0.050000,20,20,0.500000,10.000000,1.000000,1.000000,0.033333,0.966667
9320,WEATHERLY,201B,0.620690,0.310345,0.034483,0.034483,29,29,0.586207,17.000000,1.000000,1.000000,0.034483,0.965517
7971,PIPER,PA-28-150,1.000000,0.227273,0.045455,0.045455,22,22,0.590909,13.000000,1.000000,1.000000,0.034483,0.965517
4152,PIPER,PA 12,1.378378,0.054054,0.054054,0.054054,37,37,0.486486,18.000000,2.000000,1.000000,0.035088,0.964912
4178,BOEING,A75N1(PT17),1.343750,0.250000,0.062500,0.062500,32,32,0.750000,24.000000,2.000000,1.000000,0.036364,0.963636
8895,BELL,47G-2A,0.833333,0.208333,0.041667,0.041667,23,24,0.541667,12.458333,0.958333,0.958333,0.037037,0.962963
4511,CESSNA,152II,1.131579,0.157895,0.052632,0.052632,37,38,0.578947,21.421053,1.947368,0.973684,0.037736,0.962264
4434,AERONCA,15AC,1.200000,0.200000,0.057143,0.057143,35,35,0.657143,23.000000,2.000000,1.000000,0.037736,0.962264
3810,BELL,206-L4,1.608696,0.304348,0.086957,0.086957,22,23,1.000000,22.000000,1.913043,0.956522,0.041667,0.958333
8993,ROCKWELL,S2R,0.767442,0.139535,0.046512,0.046512,43,43,0.511628,22.000000,2.000000,1.000000,0.046512,0.953488
8750,BEECH,A23-19,0.956522,0.391304,0.086957,0.086957,23,23,1.086957,25.000000,2.000000,1.000000,0.057143,0.942857
4501,CESSNA,305,1.142857,0.142857,0.095238,0.095238,21,21,0.904762,19.000000,2.000000,1.000000,0.064516,0.935484
8854,FLIGHT DESIGN GMBH,CTSW,0.869565,0.130435,0.086957,0.086957,23,23,0.826087,19.000000,2.000000,1.000000,0.074074,0.925926
9073,AIR TRACTOR INC,AT-502B,0.730769,0.115385,0.076923,0.076923,26,26,0.730769,19.000000,2.000000,1.000000,0.076923,0.923077
9107,AIR TRACTOR INC,AT-301,0.703704,0.000000,0.074074,0.074074,27,27,0.592593,16.000000,2.000000,1.000000,0.086957,0.913043
9319,ROCKWELL INTERNATIONAL,S-2R,0.625000,0.166667,0.083333,0.083333,24,24,0.833333,20.000000,2.000000,1.000000,0.086957,0.913043
9047,WEATHERLY,201C,0.750000,0.050000,0.100000,0.100000,20,20,0.850000,17.000000,2.000000,1.000000,0.100000,0.900000

In [205]:
filtered_survival.shape[0]

43

In [206]:
filtered_survival['Make'].value_counts()['BOEING']

4

In [207]:
filtered_survival['Make'].value_counts()

PIPER                             6
BOEING                            4
CESSNA                            3
WEATHERLY                         2
SCHWEIZER                         2
HILLER                            2
AIR TRACTOR INC                   2
ENSTROM                           2
BELL                              2
BEECH                             2
LET                               1
GRUMMAN                           1
MAULE                             1
AVIAT AIRCRAFT INC                1
ROCKWELL INTERNATIONAL            1
ROCKWELL                          1
GRUMMAN ACFT ENG COR-SCHWEIZER    1
BRANTLY HELICOPTER                1
GRUMMAN-SCHWEIZER                 1
EAGLE AIRCRAFT CO.                1
CHAMPION                          1
CONSOLIDATED AERONAUTICS INC.     1
AERONCA                           1
ROBINSON HELICOPTER               1
EVEKTOR-AEROTECHNIK AS            1
FLIGHT DESIGN GMBH                1
Name: Make, dtype: int64

In [208]:
boeing_models = filtered_survival.loc[filtered_survival['Make'] == 'BOEING']
boeing_models

,Make,Model,per.Accident.Uninjured,per.A.Minor.Injuries,per.A.Serious.Injuries,per.Accident.Deaths,Aircraft.Accidents,Aircraft.Observations,per.Accident.Severity,Total.Severity,Total.Aircraft.Deaths,Accident.Rate,Mortality.Rate,Survival.Rate
251,BOEING,777,99.147368,0.242105,0.000000,0.000000,23,95,0.242105,5.568421,0.000000,0.242105,0.000000,1.000000
355,BOEING,747,59.200000,0.117647,0.070588,0.070588,20,85,0.682353,13.647059,1.411765,0.235294,0.001187,0.998813
4178,BOEING,A75N1(PT17),1.343750,0.250000,0.062500,0.062500,32,32,0.750000,24.000000,2.000000,1.000000,0.036364,0.963636
4303,BOEING,E75,1.270270,0.270270,0.054054,0.054054,37,37,0.702703,26.000000,2.000000,1.000000,0.032787,0.967213

creating an accident_rate df that filters the merged df for aircraft that meet a threshold number of observations

In [213]:
safe_flights = merged_frame.loc[
    (merged_frame['Aircraft.Observations'] >= 200)
]

safe_flights.sort_values('Accident.Rate', ascending=True)

,Make,Model,per.Accident.Uninjured,per.A.Minor.Injuries,per.A.Serious.Injuries,per.Accident.Deaths,Aircraft.Accidents,Aircraft.Observations,per.Accident.Severity,Total.Severity,Total.Aircraft.Deaths,Accident.Rate,Mortality.Rate,Survival.Rate
374,BOEING,737,52.026585,0.186094,2.756646,2.756646,135,489,22.239264,3002.300613,372.147239,0.276074,0.047754,0.952246
1751,PIPER,PA-31-350,2.125000,0.317857,0.846429,0.846429,259,280,7.089286,1836.125000,219.225000,0.925000,0.204663,0.795337
3850,PIPER,PA-34-200T,1.570093,0.247664,0.682243,0.682243,204,214,5.705607,1163.943925,139.177570,0.953271,0.214391,0.785609
4377,BEECH,58,1.235537,0.115702,0.896694,0.896694,231,242,7.289256,1683.818182,207.136364,0.954545,0.285151,0.714849
4147,CESSNA,172RG,1.387755,0.195918,0.383673,0.383673,237,245,3.265306,773.877551,90.930612,0.967347,0.163194,0.836806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4481,CESSNA,177,1.155405,0.378378,0.327703,0.327703,296,296,3.000000,888.000000,97.000000,1.000000,0.149691,0.850309
4631,PIPER,PA-18-150,1.022767,0.126095,0.187391,0.187391,571,571,1.625219,928.000000,107.000000,1.000000,0.122989,0.877011
4628,CESSNA,140,1.029925,0.182045,0.114713,0.114713,401,401,1.099751,441.000000,46.000000,1.000000,0.079585,0.920415
8875,CESSNA,150J,0.853982,0.300885,0.234513,0.234513,226,226,2.176991,492.000000,53.000000,1.000000,0.144414,0.855586
4298,CESSNA,182Q,1.274436,0.218045,0.462406,0.462406,266,266,3.917293,1042.000000,123.000000,1.000000,0.191291,0.808709